@font-face {
    font-family: Urbanist;
    src: url("../fuentes/Urbanist-Regular.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: Urbanist;
    src: url("../fuentes/Urbanist-Medium.ttf") format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: Urbanist;
    src: url("../fuentes/Urbanist-Bold.ttf") format("truetype");
    font-weight: 700;
}

* {
    font-family:
        Urbanist, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
