<!doctype html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Registro de calificaciones - Liceo Mijaguas</title>

        <link rel="icon" href="favicon.ico" />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="/favicon-32x32.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="/favicon-16x16.png"
        />
        <link rel="stylesheet" href="css/reset.css" />
        <link rel="stylesheet" href="css/index.css" />
        <link rel="stylesheet" href="css/global.css" />
        {% block cabeza %}{% endblock%}
    </head>
    <body class="contenedor-todo">
        <img id="logo-login-registro" src="imagenes/logo.png" alt="" />

        <section class="contenedor-campos">
            {% block contenido %}{% endblock %}
        </section>

        {% with mensajes = get_flashed_messages(with_categories=true) %} {% if
        mensajes %} {% for categoria, mensaje in mensajes %}
        <div class="mensaje {{ categoria }}">
            {% if categoria == 'exito' %}
            <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="icon icon-tabler icons-tabler-outline icon-tabler-checkbox"
            >
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M9 11l3 3l8 -8" />
                <path
                    d="M20 12v6a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h9"
                />
            </svg>
            {% endif %} {% if categoria == 'error' %}
            <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="icon icon-tabler icons-tabler-outline icon-tabler-exclamation-circle"
            >
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" />
                <path d="M12 9v4" />
                <path d="M12 16v.01" />
            </svg>
            {% endif %} {{ mensaje }}
            <button onclick="cerrarMensaje(this)" id="bonton-x">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="icon icon-tabler icons-tabler-outline icon-tabler-square-x"
                >
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path
                        d="M3 5a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v14a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-14z"
                    />
                    <path d="M9 9l6 6m0 -6l-6 6" />
                </svg>
            </button>
        </div>
        {% endfor %} {% endif %} {% endwith %}
    </body>
    <script src="js/mensajes.js"></script>
    <script src="s.js"></script>
</html>
