{% extends 'login-registro.html' %}

{% block campos %}

<form
    class="contenedor-campos"
    method="post">
<h1 id="titulo-contenedor">INICIAR SESION</h1>
    <div>
        <label for="usuario">ingresar usuario</label>
        <input
            name="usuario"
            id="usuario"
            type="text"
            value="{{ datos["usuario"] }}"
            minlength="{{ NOMBRE_MINIMO }}"
            maxlength="{{NOMBRE_MAXIMO}}"
        />
        <label for="contraseña"> ingresar contraseña</label>
        <input
            name="contraseña"
            id="contraseña"
            type="password"
            value="{{datos ["contraseña"] }}"
            minlength="{{CONTRASEÑA_MINIMO}}"
            maxlength="{{CONTRASEÑA_MAXIMA}}"
        />
    </div>
    <div id="contenedor-botones">
        <button class="boton-primario" id="button">ingresar</button>
        <a href="/registro">Ir al registro</a>
    </div>
</form>

{% endblock %}
