{% extends 'login-registro.html' %}

{% block campos %}
    <form
         class="contenedor-campos"
        action="" method="post">
        <div>

    <h1 id="titulo-contenedor">REGISTRO</h1>
        <label for="">ingresar usuario</label>
        <input
            name="usuario"
            type="text"
            value=" {{ datos["usuario"] }}"
            minlength="{{NOMBRE_MINIMO}}"
            maxlength="{{NOMBRE_MAXIMO}}"
        />

        <label>ingresar contraseña</label>
        <input
            name="contraseña"
            type="password"
            value="{{datos ["contraseña"] }}"
            minlength="{{CONTRASEÑA_MINIMO}}"
            maxlength="{{CONTRASEÑA_MAXIMA}}"
        />
        </div>

        <div id="contenedor-botones">
            <button class="boton-primario">Registrase</button>
            <a href="/login">ir al inicio de sesion</a>
        </div>
    </form>

{% endblock %}
